<% layout("layout/boilerplate") %>
    <link rel="stylesheet" href="css/index.css">
    <h1 class="text-center mb-5">Monitor Your Farm</h1>
    <div class="container">
        <div class="row justify-content-around">
            <div class="card col-md-4">
                <div class="card-body">
                    <h5 class="card-title">Humidity</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        Current Humidity:<%= humidityValue[0].value %>
                    </h6>
                    <p class="card-text">Humidity
                        <%= humidityValue[1].value<humidityValue[0].value ? "increased by" :"decresed by" %>
                            <%= Math.abs(humidityValue[1].value-humidityValue[0].value) %>
                    </p>
                    <a href="/monitor/humidity" class="card-link">Humidity Data</a>
                    <!-- <a href="#" class="card-link"></a> -->
                </div>
            </div>
            <div class="card col-md-4">
                <div class="card-body">
                    <h5 class="card-title">Temperature</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        Current Temperature:<%= tempValue[0].value %>
                    </h6>
                    <p class="card-text">Temperature
                        <%= tempValue[1].value<tempValue[0].value ? "increased by" :"decresed by" %>
                            <%= Math.abs(tempValue[1].value-tempValue[0].value) %>
                    </p>
                    <a href="/monitor/temp" class="card-link">Temperature Data</a>
                    <!-- <a href="#" class="card-link">Another link</a> -->
                </div>
            </div>
        </div>
    </div>