<% layout("layout/boilerplate") %>
    <h1 class="text-center">Temperature Data</h1>
    <div class="container">
        <div class="row justify-content-center">
            <% tempValue.forEach((temp,index)=>{ %>


                <% if(index===0){ %>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action list-group-item-danger"
                            aria-current="true">
                            <div class="d-flex w-100 justify-content-center">
                                <h5 class="mb-1">Average Temperature: <%= avg.toFixed(2) %>
                                </h5>
                            </div>
                            <!-- <p class="mb-1">Time : <%= temp.created_at.replace("T",", ") %></small> -->
                        </a>
                    </div>
                    <% } %>

                        <% if(temp.value && index>0 && temp.value!==tempValue[index-1].value ){ %>
                            <div class="list-group col-md-6">
                                <div class="list-group-item list-group-item-action mb-2 active" aria-current="true">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h4 class="mb-1">Temperature Value: <%= temp.value %>
                                        </h4>
                                    </div>
                                    <p class="mb-1">Time : <%= temp.created_at.replace(/[TZ]/g," ") %></p>
                            <form action=" /monitor/temp/<%=temp.id %> " method="post">
                                            <button class="btn btn-danger">Delete</button>
                                            </form>
                                </div>
                            </div>
                            <% } %>

                                <% }) %>
        </div>
    </div>